Robert Adam <krzmbrzl@gmail.com>
Xavier Andrade <xavier@tddft.org>
Heiko Appel <appel@fhi-berlin.mpg.de>
Albert Bartok-Partay <apbartok@gmail.com>
Fulvio Berardi <fulvio.berardi@gmail.com>
Lori A. Burns <lori.burns@gmail.com>
Lori A. Burns <mac.psinet@gmail.com>
Alberto Castro <acastro@bifi.es>
Ignacio Fdez. Galván <Ignacio.Fernandez@kemi.uu.se>
Raimondas Galvelis <r.galvelis@acellera.com>
Igor S. Gerasimov <2988565-FulgurIgor@users.noreply.gitlab.com>
Igor S. Gerasimov <i.s.ger@ya.ru>
Umberto De Giovannini <umberto.degiovannini@gmail.com>
Eisuke Kawashima <2618741-e-kwsm@users.noreply.gitlab.com>
Peter Knowles <KnowlesPJ@Cardiff.ac.uk>
Ask Hjorth Larsen <asklarsen@gmail.com>
Henryk Laqua <hlaqua@alpha.tc.cup.uni-muenchen.de>
Susi Lehtola <susi.lehtola@alumni.helsinki.fi>
Susi Lehtola <susi.lehtola@gmail.com>
Florian Lorenzen <florian.lorenzen@posteo.de>
Tim Losev <losev.tim.v@gmail.com>
Miguel Marques <ahhsw@login001.ianvs.xd.uni-halle.de>
Miguel Marques <marques@tddft.org>
Miguel Marques <noauthor@tddft.org>
Andy May <ajmay81@gmail.com>
Daniel Mejia-Rodriguez <dmejiarodriguez@ufl.edu>
Vladimir Mironov <vmi@terraquantum.swiss>
Juho Ojajärvi <juho.i.j.ojajarvi@jyu.fi>
Roberto Olivares <robolivares@gmail.com>
Micael Oliveira <micaeljtoliveira@gmail.com>
Micael Oliveira <micael.oliveira@mpsd.mpg.de>
Matthias Redies <m.redies@fz-juelich.de>
Wanja Schulze <wangenau@protonmail.com>
Sebastian Schwalbe <theonov13@gmail.com>
Daniel Smith <malorian@me.com>
Harmen Stoppels <harmenstoppels@gmail.com>
David Strubbe <dstrubbe@gmail.com>
David Strubbe <dstrubbe@ucmerced.edu>
Qiming Sun <osirpt.sun@gmail.com>
Axel Thimm <Axel.Thimm@ATrpms.net>
Eduard Valeyev <eduard@valeyev.net>
Matthieu Verstraete <matthieu.jean.verstraete@gmail.com>
Shirong Wang <srwang20@fudan.edu.cn>
David Williams-Young <dbwy@lbl.gov>
Xiaojie Wu <wxj6000@gmail.com>
Yi Yao <yaoyi92@gmail.com>
Артем Глубшев <glubshev2001@gmail.com>
